.meter {
    width: 12%;
    border: 8px solid black;
    display: flex;
    align-items: flex-end;   /* push children to the bottom */
    position: fixed;       /* lock to viewport */
    bottom: 100px;          /* 10px above bottom of screen */
}

.item {
    width: 150px;
    background-color: lightgray;
  }
  
  .logo {
    width: 80px;
  }

  .eventBox {
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 20px;
    border: 4px solid red;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2000;
  }
  
  