.meter {
    width: 12%;
    border: 8px solid black;
    display: flex;
    align-items: flex-end;   /* push children to the bottom */
    position: fixed;       /* lock to viewport */
    bottom: 100px;          /* 10px above bottom of screen */
    display: inline-block; /* or inline-flex, or fit-content for width */
    padding: 10px;
    font-family: Georgia;
}