#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Georgia;
  color: lightcoral;
}

body{
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  /* display: flex; */
  flex-direction: column;
  display: inline-block; /* or inline-flex, or fit-content for width */
  border: 2px solid red;
  padding: 10px; /* Provides space between the text and the border */
  
}
