#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}

.app {
  /* display: flex; */
  flex-direction: column;
    display: inline-block; /* or inline-flex, or fit-content for width */
    border: 2px solid red;
    padding: 10px; /* Provides space between the text and the border */
}
