html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Georgia;
  color: lightcoral;
}

body{
  background-image: url("./assets/background.png");
  background-size: cover;     /* ensures full-screen scaling */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* optional: makes it not scroll */
}

.app {
  /* display: flex; */
  flex-direction: column;
  display: inline-block; /* or inline-flex, or fit-content for width */
  border: 2px solid red;
  padding: 10px; /* Provides space between the text and the border */
  
}
