#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Georgia;
  color: lightcoral;
}

*{
  background-image: url("https://media.easy-peasy.ai/27feb2bb-aeb4-4a83-9fb6-8f3f2a15885e/ddf4efe4-87ab-4430-9e97-e0dbc98ed17f.png");
}

.app {
  /* display: flex; */
  flex-direction: column;
  display: inline-block; /* or inline-flex, or fit-content for width */
  border: 2px solid red;
  padding: 10px; /* Provides space between the text and the border */
  
}
